@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Quattrocento%20Sans);
@import url(//fonts.googleapis.com/css?family=Calibri);

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Lato;
  line-height:1.5;
}

.header {
  overflow: hidden;
  background-color: #c3d3f5;
  padding: 20px 10px;
  font-family: Lato;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
}

.header a:hover {
  color: #a8c4f0;
}

.header a.active {
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

h1 {
  color: #1d3557;
  margin-left: 5px;
  text-align: left;
  font-family: Quattrocento Sans
}

h2 {
  color: #3131d6;
  margin-left: 5px;
  font-family: Quattrocento Sans;
}

h3 {
  margin-left: 5px;
}

p {
  margin-left: 5px;
  font-family: Quattrocento Sans;
}
